<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Vue 测试实例 - Vue.js中文文档练习</title>
    <script src="vue.min.js"></script>
    <!--<script src="https://cdn.bootcss.com/vue/2.2.2/vue.min.js"></script>-->
</head>

<body>

    在线练习网站：https://jsfiddle.net/chrisvfritz/50wL7mdz/ vue API：https://cn.vuejs.org/v2/api/

    <h1 v-if="ok">Yes</h1>
    <h1 v-else>No</h1>

    <!-- 在 <template> 元素上使用 v-if 条件渲染分组 -->
    <!-- 把一个 <template> 元素当做不可见的包裹元素 -->
    <template v-if="ok">
        <h1>Title</h1>
        <p>Paragraph 1</p>
        <p>Paragraph 2</p>
    </template>

    <!-- v-else -->
    <div v-if="Math.random() > 0.5">
        Now you see me
    </div>
    <div v-else>
        Now you don't
    </div>

    <!-- v-else-if -->

    <!-- 用key管理可复用的元素 -->
    <template v-if="loginType === 'username'">
        <label>Username</label>
        <input placeholder="Enter your username">
    </template>
    <template v-else>
        <label>Email</label>
        <input placeholder="Enter your email address">
    </template>
    <!-- 加入key后input就不会被复用 -->
    <template v-if="loginType === 'username'">
        <label>Username</label>
        <input placeholder="Enter your username" key="username-input">
    </template>
    <template v-else>
        <label>Email</label>
        <input placeholder="Enter your email address" key="email-input">
    </template>


    <!-- v-show -->
    <!-- 带有 v-show 的元素始终会被渲染并保留在 DOM 中。v-show 只是简单地切换元素的 CSS 属性 display。 -->
    <!-- v-show 不支持 <template> 元素，也不支持 v-else -->
    <h1 v-show="ok">Hello!</h1>

    <!-- v-if 有更高的切换开销，而 v-show 有更高的初始渲染开销。因此，如果需要非常频繁地切换，则使用 v-show 较好；如果在运行时条件很少改变，则使用 v-if 较好。 -->
</body>

<script>

</script>


</html>